.team{
 flex: 1;
 box-sizing: border-box;
}

.team1{
    border-right: 4px solid blue;
}

.team2{
    border-left: 4px solid red;
}
.teamsContainer{
    display: flex;
}

.blueTeam{
    text-align: right;
    color: darkblue;
    text-shadow: 1px 1px lightseagreen;
}

.redTeam{
    color: darkred;
    text-shadow: 1px 1px orangered;
}